<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Beaver</title>
  </head>
  <body>
    <h1>Welcome to our page.</h1>
    <form method="post" action="/result">
      <input placeholder="Sky is" type="text" name="colour" />
      <button type="submit">Go</button>
    </form>

    <% if (isRaining) { %>
    <p>It's raining.</p>
    <% } else { %>
    <p>It's not raining.</p>
    <%}%>
  </body>
</html>
